<form #createCompanyForm="ngForm" class="was-validated text-center border border-light p-5">
  <p class="h4 mb-4">Create Company</p>
  <div class="form-row justify-content-center">
    <div class="col-5">
      <input type="text" class="form-control mb-4" placeholder="Company Name" required
      [(ngModel)]="company.compName" #companyName="ngModel" name="compName">
      <input type="password" class="form-control mb-4" placeholder="Company Password" required
      [(ngModel)]="company.password" #companyPassword="ngModel" name="password">
      <input type="email" class="form-control mb-4" placeholder="Company Email" required
      [(ngModel)]="company.email" #companyEmail="ngModel" name="email">
    </div>
  </div>
  <button mdbBtn color="info" class="my-4" [disabled]="!createCompanyForm.valid" (click)="createCompany()">
    Create Company</button>
</form>