<div class="text-center border border-light p-5">
  <p class="h4 mb-4">Coupons</p>
  <table class="table table-striped">
      <tr>
        <th>Coupon Id</th>
        <th>Title</th>
        <th>Message</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Image</th>
      </tr>
      <tr *ngFor="let c of coupons">
        <td>{{c.id}}</td>
        <td>
            <a routerLink="/rest/company/coupons/{{c.id}}">{{c.title}}</a>
        </td>
        <td>{{c.message}}</td>
        <td>{{c.price}}</td>
        <td>{{c.amount}}</td>
        <td>{{c.startDate}}</td>
        <td>{{c.endDate}}</td>
        <td>{{c.type}}</td>
        <td>
            <img style="max-width: 150px" src="{{c.image}}">
        </td>
      </tr>
  </table>
  </div>