<div class="text-center border border-light p-5">
  <p class="h4 mb-4">Get Coupons By Date</p>
  
  <form #getCouponsByDateForm="ngForm" class="was-validated text-center border border-light p-5">
    <div class="form-row justify-content-center">  
     <div class="col-5">
      <div class="col-5">Please Enter End Date:</div>
      <input type="date" class="form-control mb-4" placeholder="Please Enter Date" required
        (ngModel)="coupon.endDate" #couponEndDate="ngModel" name="endDate">
     </div>
    </div>      
      <button mdbBtn color="info" block="true" class="my-4" (click)="getCouponsByDate(couponEndDate.value)" 
      [disabled]="!getCouponsByDateForm.valid">Get!</button>
  </form>
  
  <table class="table table-striped">
      <tr>
        <th>Coupon Id</th>
        <th>Title</th>
        <th>Message</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Image Url</th>
      </tr>
      <tr *ngFor="let c of coupons">
        <td>{{c.id}}</td>
        <td>{{c.title}}</td>
        <td>{{c.message}}</td>
        <td>{{c.price}}</td>
        <td>{{c.amount}}</td>
        <td>{{c.startDate}}</td>
        <td>{{c.endDate}}</td>
        <td>{{c.type}}</td>
        <td>
          <img style="max-width: 150px" src="{{c.image}}">
      </td>
    </tr>
  </table>
  </div>